*{
    color: black;
}

.label, label{
    font-size: 16px;
}
    
.label{
    margin-right: 30px;
    padding-bottom: 5px;
}

label{
    margin-right: 5px;  
}

input{
    margin: 2px auto;
    padding: 4px 15px 1px 1px;
    border-radius: 3px;
    border: 2px solid darkgray;
}

input::placeholder{
    font-size: 16px;
    padding: 5px 2px;
}

.reg-button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 2px solid darkgray;
    font-size: 14px;
    padding: 5px 2px;  
}

